.shopcart__interaction__buy,
.shopcart__interaction__delete {
    color: whitesmoke;
    font-size: 2rem;
}


.shopcart__products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    gap: 1rem;
}

.shopcart__product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-items: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .8rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    font-size: 2.1rem;

    &__image{
        width: 8rem;
        height: 8rem;
        object-fit: scale-down;
        object-position: center center;
        background-color: white;
        //width: 4rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    &__title{
        width: 25rem;
    }

    &__delete {
        align-self: center;
        border: 0;
        background-color: transparent;
        color: orangered;
        cursor: pointer;
    }

    & small {
        font-size: 1.6rem;
    }
}


.shopcart__interaction {
    display: flex;
    justify-content: space-between;

    button{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4em;
        text-align: center;
        background-color: rgb(199, 199, 199);
        color: rgb(30, 30, 30);
        padding: .4rem 1rem;
        text-transform: uppercase;
        border-radius: 2rem;
        cursor: pointer;
        border: 2px solid rgb(199, 199, 199);
        transition: background-color .2s, color .2s;
        -webkit-transition: background-color .2s, color .2s;
        -moz-transition: background-color .2s, color .2s;
        -ms-transition: background-color .2s, color .2s;
        -o-transition: background-color .2s, color .2s;
        &:hover
        {
            background-color: rgba(0, 0, 0, 0.01);
            color: whitesmoke;
        }
    }

    &__delete{
        height: 100%;
    }
    
    &__rigth {
        display: flex;
        gap: 1rem;
    }
    
    &__total {
        display: flex;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.4em;
        text-align: center;
        color: whitesmoke;
        padding: 1rem;
        text-transform: uppercase;
        gap: 1rem;
    }

}


.disabled {
    display: none;
}

.detBuy{
    &__quantity{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        gap:2rem;
        padding: 1rem 0rem;

        &__label{
            font-weight: bold;
        }
    }

    &__shopCart{
        width: 50%;
        height: 4rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4em;
        text-align: center;
        background-color: rgb(199, 199, 199);
        color: rgb(30, 30, 30);
        padding: .4rem;
        text-transform: uppercase;
        border-radius: 2rem;
        cursor: pointer;
        border: 2px solid rgb(199, 199, 199);
        transition: background-color .2s, color .2s;
        -webkit-transition: background-color .2s, color .2s;
        -moz-transition: background-color .2s, color .2s;
        -ms-transition: background-color .2s, color .2s;
        -o-transition: background-color .2s, color .2s;
        &:hover
        {
            background-color: rgba(0, 0, 0, 0.01);
            color: whitesmoke;
        }
    }
}