.subNav{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    gap: 1rem;

    li {
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 2rem;
        gap: 1rem;
        padding: 0.8rem 1.5rem;
        color: whitesmoke;
        font-family: 'Segoe UI', Tahoma, 'work sans', sans-serif;
        font-size: 1.8rem;
        text-align: center;
    }
}