html {
  font-size: 9px;
}

@media (max-width: 990px){
  html {
      font-size: 8px;
  }
}

@media (max-width: 768px){
  html {
      font-size: 7px;
  }
}

@font-face {
  font-family: bradley-hand-itc;
  src: url(./assets/fonts/bradley-hand-itc.ttf);
}

.logoFont{
  font-family: bradley-hand-itc, 'work sans', sans-serif;
}

.esloganFont{
  font-family: bradley-hand-itc, 'work sans', sans-serif;
}

body
{
  height: 100vh;
  background-color: #242424;
  background-image: linear-gradient(-45deg, rgb(25, 25, 25) 0%, rgb(50, 50, 50) 50%, rgb(25, 25, 25) 100%);
  background-size: auto;
  background-attachment: fixed;

  display: grid;
  grid-template-areas:     
  "header"
  "central-info"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  row-gap: 1.5rem;
}


